@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

// Custom variables and mixins
@import "variables";
@import "mixins";

html,
body {
  position: relative;
  background: $body-bg;
  font-family: 'Raleway', sans-serif;
}

.header {
  opacity: 0.8;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
}

.headroom--unpinned {
  top: -54px; // adjust according to nav height and/or padding
  @include mQ(875px) {
    top: -220px;
  }
}

.headroom--pinned {
  top: 0;
}

.jumbotron {
  position: relative;
  height: 100vh;
  background-image: url("../assets/deadsea.jpg");
  background-color: $body-bg;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mQPortrait(768px) {
    background-image: url("../assets/deadsea-small.jpg");
  }

  .jumbo-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    @include mQPortrait(768px) {
      h1 {
        font-size: 4rem;
      }
      h4 {
        font-size: 1.2rem;
      }
    }
  }

  h1, h4 {
    display: inline-block;
  }
}

.work-bg {
  background: #fdfdfd;
  .info-show {
    display: none;
  }
  h2 {
    font-size: 4rem;
  }
  .card-img-top {
    height: 25vw;
  }
  @include mQ(768px) {
    .card-img-top {
    height: auto;
    }
  }
}

.about-image {
  background-image: url("https://github.com/nijlanderthaler/niconijland-com/blob/master/img/overloon-2.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social {
  .btn-sm {
    padding: 0.3rem 0.7rem;
  }
}

.opacity-text {
  opacity: 0.9;
}


.form-control {
  background-color: #1c1e22;
  border-color: #f8f9fa;
}

.foot-link {
  font-size: 1.5rem;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .foot-link {
    margin: 0 0.5rem;
  }
}
