// Variables

// Bootstrap variable overrides
$body-bg: #1c1e22;
$font-size-base: 0.9rem;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5) // additional spacing option
  // 7: ($spacer * ) // additional spacing option
), $spacers);

// Bootstrap Sass files
@import "node_modules/bootstrap/scss/bootstrap";
// includes everything, for custom adjustments: see documentation

// Custom variables
$fadeUp: 100px;
$fallDown: -200px;
$fadeLeft: -250px;
$fadeRight: 250px;
$fadeUpMiddle: 100px;
$delay: 50ms;
$duration: 5s;
